SECRET_KEY='=ug_ucl@yi6^mrcjyz%(u0%&g2adt#bz3@yos%#@*t#t!ypx=a'
DATABASE_URL=psql://{{cookiecutter.postgres_user}}:{{cookiecutter.postgres_password}}@127.0.0.1:5432/{{cookiecutter.project_slug}}
{%- if cookiecutter.use_redis == "y" %}
REDIS_LOCATION=redis://localhost:6379
{%- endif %}
{%- if cookiecutter.use_rabbitmq == "y" %}
RABBITMQ_URL=amqp://guest:guest@localhost:5672//
{%- endif %}
{%- if cookiecutter.use_celery == "y" %}
CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
{%- endif %}

ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.django.local
{%- if cookiecutter.use_jwt == "y" %}

JWT_ACCESS_TOKEN_LIFETIME_SECONDS=900
JWT_REFRESH_TOKEN_LIFETIME_SECONDS=604800
{%- endif %}
{%- if cookiecutter.use_sentry == "y" %}

SENTRY_DSN=
SENTRY_ENVIRONMENT=local
{%- endif %}
