[flake8]
max-line-length = 120
extend-ignore = I001,I003,I004,I005
exclude =
    .git,
    __pycache__,
    docs,
    */migrations/*,
    locale,
    .venv,
    venv
per-file-ignores =
    config/django/base.py: I001,I004,I005
    config/django/production.py: I001
    config/django/local.py: I001
    config/django/test.py: I001
